#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.cardStile .card {
  border: 2px solid #bd3737; 
  border-radius: 8px;
  background-color: #F2E3D5;
  transition: 0.5s ease;
}
.card:hover {
  transform: translateY(-8px)
}
.card-img-top {
  width: 100%;
  height: 250px;        
  object-fit: contain;  
  background-color: #f8f9faa1; 
  padding: 10px;
}
 
.cardStile .card .btn{
  cursor: pointer;
  border: 2px solid ;
  border-radius: 2px;
  padding: 10px;
  transition: 0.4s ease;
}

.detalle-link {
  display: inline-block;
  padding: 6px 12px;
  background-color: #071224;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid transparent;
  transition: 0.3s ease;
}

.detalle-link:hover {
  background-color: #4136cfcb;
}


.btn:hover{
  background-color: #e2c9ac;
  color: #0D0D0D;
}
.read-the-docs {
  color: #888;
}

h1{
  color: white;
}
body{
  background-color: #121212;
}

section {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.form {
  padding: 10px;
  width: 300px;
}


.form legend {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 2em;
  color: rgb(156, 156, 154);
}

.form label {
  display: block;
  margin-bottom: 5px;
  color: rgb(204, 32, 27);
}


.form input {
  width: 80%;
  padding: 8px;
  background-color: #f8f8f8;
  border: 1px solid #bb2b26;
  border-radius: 10px;
  color: rgb(23, 24, 23);
  margin-bottom: 15px;
}


.form button {
  background: none;
  border: 1px solid rgb(131, 27, 36);
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.4s ease;
  color: rgb(180, 51, 51);
}

.form button:hover {
  background-color: rgb(216, 112, 112);
  color: #121212;
}



.navbar {
  background-color: #121212!important ;
  padding: 20px;
}

.navbar-brand {
  color: white !important;
  transition: 0.3s ease;
}

.navbar-brand:hover {
  color: white !important; /* o el color que quieras */
}


.nav-item a {
  color: white !important;
  transition: 0.5s ease;
}

.nav-item a:hover {
  color: #278C82 !important;
}


.Footer{
   text-align: center;
   padding: 5px;
   color: white;

}

.formProductos {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.5rem;
  background: #ffffff;
  width: 100%;
  max-width: 420px;
  margin: auto;
}

.formProductos > div {
  display: flex;
  flex-direction: column;
}

.formProductos label {
  font-weight: 600;
  margin-bottom: 4px;
  color: #333;
}

.formProductos input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #bbb;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

.formProductos input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74,144,226,0.4);
}


.formProductos button {
  background: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.formProductos button:hover {
  background: #6cc772;
}

.btn-secondary {
  background: #777 !important;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
}

.btn-secondary:hover {
  background: #5e5e5e !important;
}


.formProductos div:last-child {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.titulo-gestion {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #222;
}

.btn-agregar {
  background: #222;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 25px;
}

.btn-agregar:hover {
  background: #333;
}

.lista-productos {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.producto-card {
  background: white;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 12px;
  transition: 0.2s ease;
}

.producto-card:hover {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.producto-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.producto-img img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.producto-detalles {
  flex-grow: 1;
}

.producto-detalles h2 {
  font-size: 20px;
  margin: 0;
}

.precio {
  font-size: 22px;
  font-weight: bold;
  margin-top: 6px;
}

.producto-botones {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.producto-botones button svg {
  margin-right: 6px;
}

.btn-editar {
  background: #222;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  gap: 6px;
}

.btn-editar:hover {
  background: #333;
}

.btn-eliminar {
  background: #ffefef;
  color: #c40000;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  gap: 6px;
}

.btn-eliminar:hover {
  background: #ffdede;
}

.card-vacia {
  padding: 40px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  color: #666;
}


.cerrarBoton{
  background: none;
  border: none;
  color:#f5f5f5;
  text-decoration: underline;
}


.carritoTitulo {
  text-align: center;
  margin-bottom: 20px;
}

.carritoContainer {
  max-width: 600px;
  margin: 0 auto;
}

.vacio {
  text-align: center;
  font-size: 18px;
  color: #777;
}

.productoCard {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fafafa;
}

.productoImg {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.productoInfo h4 {
  margin: 0;
}

.precio {
  font-weight: bold;
  color: #333;
}

.cantidadBox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.cantidadBox button {
  background: #ddd;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btnEliminar {
  background: #ff5b5b;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btnEliminar:hover {
  background: #e04646;
}

.totalBox {
  margin-top: 25px;
  text-align: center;
}

.btnComprar {
  background: #f3eded;
  color: rgb(20, 20, 20);
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btnComprar:hover {
  background: #f3f0f0;
}


.form-busqueda {
  max-width: 400px;
  margin: 0 auto;
}

.input-container {
  position: relative;
  width: 100%;
}

.icono {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #555;
  pointer-events: none;
}

.input-busqueda {
  width: 100%;
  padding: 10px 12px 10px 38px; /* espacio para el icono */
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background: #f5f5f5;
  color: #333;
  transition: 0.2s ease;
}

.input-busqueda::placeholder {
  color: #777;
}

.input-busqueda:focus {
  outline: none;
  border-color: #4a77ff;
  background: white;
  box-shadow: 0 0 4px rgba(74, 119, 255, 0.4);
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  color: white;
  
}

.page-item {
  list-style: none;
}




.carousel-item{
  img{
    width: 950px;
    height: 450px;
  }
}

@media(max-width: 480px){
  .carousel-item{
  img{
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
 }

}

@media(min-width: 481px) and (max-width: 768px){
  .carousel-item{
  img{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
 }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .tuCarousel img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}

.titulo-gestion{
  color: white;
}

.detalleProducto {
  max-width: 520px;
  margin: 40px auto;
  padding: 24px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.detalleProducto h2 {
  font-size: 14px;
  color: #777;
  margin-bottom: 6px;
}

.detalleProducto h3 {
  font-size: 26px;
  font-weight: bold;
  color: #111;
  margin-bottom: 16px;
}

.detalleProducto img {
  width: 100%;
  max-width: 320px;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  margin-bottom: 18px;
}

.detalleProducto p {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
}


.carritoProductos {
  display: inline-block;
  padding: 0 0.25rem;
  border-radius: 50%;
  font-size: small;
  color: white;
}

.carritoProductos:hover {
  background-color: red;
}
